# Ignore VS files
.vs/
*.user

# Ignore C++ Build folders
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Ignore C# Build folders
bin/
obj/

# Ignore Logs and Test Outputs
*.log
*.txt
!CMakeLists.txt
